/* --------------------------------------------------------
        CNS STYLING OVERRIDES
-------------------------------------------------------- */

/* OVERFLOW issues
-------------------------------------------------------- */

@media (max-width: 768px) {
  // Fixes CSS grid  so content does not overflow
  div.wrapper-1170MaxWidth {
    grid-template-columns: minmax(0, 1fr);
  }
}

/* TEXT STYLES
-------------------------------------------------------- */

blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child {
  // Reverts to default Natsci blockquote, except for removing all-caps
  margin-bottom: initial !important;
  font-size: 1.5rem !important;
  color: #333;
  font-weight: 400;
  text-transform: none;
  line-height: 1.4 !important;
}

.depth-2.internal-resources,
.depth-1.people,
.depth-1.news-events,
.depth-1.research-tech,
.depth-1.graduate-program,
.depth-4.communications-department-resources {
  // Font styles for Mura folder display. Currently used on "News & Events," "People," and "Internal Resources"
  .mura-index {
    .title {
      font-size: 23px;
      font-size: 1.45rem;
    }
  }
}

#about.contact-us .mainColContent p {
  // The address by the map on the Contact Us page needs smaller font
  line-height: 1.4;
}

@media (min-width: 1400px) {
  // Extra large screens - Increasing font size and adding white space to text, for legibility
  #MainContent {
    .mainColContent,
    div.mura-region {
      // For main content area so it does not affect the side columns
      p,
      ul,
      ol {
        font-size: 16.5px;
        line-height: 1.7;
      }
    }
  }
  .depth-2.internal-resources,
  .depth-1.people,
  .depth-1.news-events,
  .depth-1.research-tech,
  .depth-1.graduate-program,
  .depth-4.communications-department-resources {
    // Font styles for Mura folder display. Currently used on "News & Events," "People," and "Internal Resources"
    .mura-index {
      p,
      ul,
      ol {
        font-size: 16.5px;
      }
    }
  }
}

/* TEXT WHITE SPACE IN NEWS CONTENT AREAS
-------------------------------------------------------- */

#newsevents.depth-3 {
  #MainContent {
    div.mura-region p {
      // For News stories, more spaces between paragraphs at tablet and desktop sizes
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 767px) {
  #newsevents.depth-3 {
    #MainContent {
      div.mura-region p {
        // For News stories, returns to default 20px margin between paragraphs
        margin-bottom: 20px;
      }
    }
  }
}

/* PRL LINK STYLES
-------------------------------------------------------- */

.mura-index a,
.mura-object-content a {
  // Link text-decoration styling for asides
  text-decoration: none;
  color: $natsci-complementary; // transition: $tran-short;
  border-bottom: 1px solid $natsci-complementary;
  &:hover {
    color: $natsci-complementary-lighter;
    border-bottom: 0px solid transparent;
  }
}

main.mainContent a {
  // All link text-decoration styling, except asides and breadcrumbs
  text-decoration: none;
  color: $natsci-complementary; // transition: $tran-short;
  border-bottom: 1px solid $natsci-complementary;
  &:hover {
    color: $natsci-complementary-lighter;
    border-bottom: 0px solid transparent;
  }
}

main.mainContent {
  dd.image a,
  .image a,
  #svAsset,
  .social-share a {
    // MURA INDEX IMAGES: Override new link display
    border-bottom: none;
  }
  nav a,
  .view-all {
    // Keeps nav and "View All" type buttons styling as intended by CNS*/
    color: $msu-color;
    text-decoration: underline;
    border-bottom: none;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
}

.breadcrumb a {
  font-weight: 400 !important; // Overrides any other font-weight decisions in body
}

/* <CODE> tag style
-------------------------------------------------------- */

.prl-code-area {
  // Optional div area where the :before "markup" tagline stays within the div (see below)
  position: relative;
  code {
    display: block;
    padding: 16px;
    max-height: 230px;
    overflow: auto;
    margin: 20px 0 50px;
    position: relative;
    background-color: #f5f2f0;
    &:before {
      content: 'markup';
      color: black;
      background-color: #CFCFCF;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75rem;
      border-radius: 0 0 0 5px;
      padding: 0.25rem 0.75rem;
      text-shadow: none;
    }
  }
}

@media (max-width: 767px) {
  .prl-code-area {
    code {
      padding-top: 30px;
    }
  }
}