
/* --------------------------------------------------------
                COMPONENTS
-------------------------------------------------------- */

/* --------------------------------------------------------
        BRANDED COLORS
-------------------------------------------------------- */

/* PRL PRIMARY PALETTE
-------------------------------------------------------- */

$primary-color: #2E4D4D;
$secondary-color: #846E28; // Use mostly for accents and contrast
$tertiary-color: #41304C; // Rarely used
$quaternary-color: #804540; // Rarely used

/* MSU AND NATSCI GREENS PALETTE
-------------------------------------------------------- */

$msu-color: #18453B;
$natsci-complementary: #466A62;
$natsci-complementary-lighter: #738F89;

/* GREY PALETTE
-------------------------------------------------------- */

$x-light-grey: #e6e6e6;
$light-grey-text: #757575;
$med-grey-text: #666;
$dark-grey-text: #444;
$x-dark-grey-text: #111;
$material-border-bottomORtop-color: rgba(160, 160, 160, 0.2);

/* --------------------------------------------------------
        TRANSITION EFFECTS
-------------------------------------------------------- */

$tran-short: 0.1s;
$tran-med: 0.35s;
$tran-half-sec: 0.5s;


/* --------------------------------------------------------
        BORDER RADIUS MODIFIED
        Material design asks for 2px border radius, but 8px allowed
-------------------------------------------------------- */

$border-radius-material-design-card: 12px;

/* --------------------------------------------------------
        BOX SHADOW DEPTHS
        // Shadow Depths from Material Design Web Components: https://material-components-web.appspot.com/elevation.html
-------------------------------------------------------- */

$shadow-depth-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 1px 8px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$shadow-depth-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
  0px 7px 10px 1px rgba(0, 0, 0, 0.14),
  0px 2px 16px 1px rgba(0, 0, 0, 0.12);
$shadow-depth-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$shadow-depth-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
  0px 9px 12px 1px rgba(0, 0, 0, 0.14),
  0px 3px 16px 2px rgba(0, 0, 0, 0.12);
$shadow-depth-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
  0px 10px 14px 1px rgba(0, 0, 0, 0.14),
  0px 4px 18px 3px rgba(0, 0, 0, 0.12);
$shadow-depth-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
  0px 11px 15px 1px rgba(0, 0, 0, 0.14),
  0px 4px 20px 3px rgba(0, 0, 0, 0.12);
$shadow-depth-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 12px 17px 2px rgba(0, 0, 0, 0.14),
  0px 5px 22px 4px rgba(0, 0, 0, 0.12);
$shadow-depth-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 13px 19px 2px rgba(0, 0, 0, 0.14),
  0px 5px 24px 4px rgba(0, 0, 0, 0.12);
$shadow-depth-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
  0px 14px 21px 2px rgba(0, 0, 0, 0.14),
  0px 5px 26px 4px rgba(0, 0, 0, 0.12);
$shadow-depth-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
  0px 15px 22px 2px rgba(0, 0, 0, 0.14),
  0px 6px 28px 5px rgba(0, 0, 0, 0.12);
$shadow-depth-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
  0px 16px 24px 2px rgba(0, 0, 0, 0.14),
  0px 6px 30px 5px rgba(0, 0, 0, 0.12);
$shadow-depth-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
  0px 17px 26px 2px rgba(0, 0, 0, 0.14),
  0px 6px 32px 5px rgba(0, 0, 0, 0.12);
$shadow-depth-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
  0px 18px 28px 2px rgba(0, 0, 0, 0.14),
  0px 7px 34px 6px rgba(0, 0, 0, 0.12);
$shadow-depth-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
  0px 19px 29px 2px rgba(0, 0, 0, 0.14),
  0px 7px 36px 6px rgba(0, 0, 0, 0.12);
$shadow-depth-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 20px 31px 3px rgba(0, 0, 0, 0.14),
  0px 8px 38px 7px rgba(0, 0, 0, 0.12);
$shadow-depth-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 21px 33px 3px rgba(0, 0, 0, 0.14),
  0px 8px 40px 7px rgba(0, 0, 0, 0.12);
$shadow-depth-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
  0px 22px 35px 3px rgba(0, 0, 0, 0.14),
  0px 8px 42px 7px rgba(0, 0, 0, 0.12);
$shadow-depth-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
  0px 23px 36px 3px rgba(0, 0, 0, 0.14),
  0px 9px 44px 8px rgba(0, 0, 0, 0.12);
$shadow-depth-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
  0px 24px 38px 3px rgba(0, 0, 0, 0.14),
  0px 9px 46px 8px rgba(0, 0, 0, 0.12);

/* --------------------------------------------------------
        ACCORDION
-------------------------------------------------------- */

// The accordion is built with accessibility in mind.
// The component is built with HTML markup and JavaScript ShadowRoot.
// prl-accordion-section is the HTML tag.
// .controls applies to the Expand all and Collapse all buttons

.controls { 
  text-align: right;
  margin-bottom: 1em;
 }
 
 .controls li {
   display: inline;
 }
 
 button#expand, button#collapse {
   // Copies elements from .prl-btn, such as border-radius
   // but has different background and foreground colors
   // and different padding and font size.
   background: $primary-color;
   color: #fff;
   border-color: transparent;
   font-size: 0.85rem;
   border-radius: $border-radius-material-design-card;
   padding: 2px 8px;
 }
 
 prl-accordion-section {
  // Custom elements are inline by default
  display: block;
 }
 
 prl-accordion-section[role="region"] {
  // Only applies if script runs and `role="region"` is added
  border-width: 2px 0;
  border-style: solid;
  border-color: $light-grey-text;
 }
 
 prl-accordion-section[role="region"] + prl-accordion-section {
   border-top: 0;
 }

/* --------------------------------------------------------
        BUTTONS
-------------------------------------------------------- */

.prl-btn {
  // Outline Button Material Design
  border: 2px solid $primary-color !important;
  border-radius: $border-radius-material-design-card;
  text-decoration: none !important;
  position: relative;
  margin: 0;
  min-width: 64px;
  padding: 2px 16px;
  display: inline-block;
  color: $secondary-color !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  line-height: 36px !important;
  font-size: 14px;
  font-weight: 600 !important;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: rgba(46, 77, 77, 0.09);
  }
  &:focus {
    background-color: rgba(46, 77, 77, 0.09);
  }
  &:active {
    background-color: rgba(46, 77, 77, 0.18);
  }
}

.prl-arrow-btn {
  border: 0px transparent !important;
  background: 0 0;
  padding: 0 30px 0 0;
  text-decoration: none !important;
  position: relative;
  margin: 0;
  min-width: 64px;
  display: inline-block;
  color: $secondary-color !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  overflow: hidden;
  line-height: 36px !important;
  font-size: 14px;
  font-weight: 600 !important;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  &:after {
    background-color: $secondary-color;
    background-image: url(/sites/_prl/assets/Image/ic_arrow_forward_white_24dp_2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    right: 6px;
    top: calc(50% - 9px);
    width: 16px;
    -webkit-transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover:after {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  &:focus:after {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}

.prl-flat-btn {
  // Flat Button
  @extend .prl-btn;
  background: 0 0;
  padding: 0px 16px;
  color: $secondary-color;
  border: 0px transparent !important;
  -webkit-transition: background-color 0.85s;
  transition: background-color 0.85s;
  &:hover {
    background-color: rgba(158, 158, 158, 0.2);
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
  }
  &:focus {
    background-color: rgba(158, 158, 158, 0.2);
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
  }
  &:active {
    background-color: rgba(158, 158, 158, 0.4);
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
  }
}

.prl-back-to-top-btn {
  /* IMPORTANT: use with chevron circle up fonticon and this exact markup:
​​​​​​​  <div><a class="prl-back-to-top-btn" href="#"><span class="fa fa-chevron-circle-up" role="button">&nbsp;</span><span class="sr-only">Chevron circle up</span></a></div> */
  // This button has jQuery scroll associated with it
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 50px;
  color: $quaternary-color !important;
  font-size: 3rem;
  border-bottom: 0px !important;
  z-index: 10000;
}

@media (max-width: 767px) {
  .prl-back-to-top-btn {
    right: 5px;
  }
}


/* --------------------------------------------------------
        FIGURE CAPTIONS & BULLETPOINTS
-------------------------------------------------------- */

figure, figure.prl-figure, figure.cke_widget_element, .secondaryPageWrapper figure {
  // Note: .prl-figure class is used December 2017 and on. "figure" is styled for anything before December 2017
  display: inline-block;
  max-width: 100%; // Legacy styling for Mura 6. This class is now superseded by 'figure.prl-figure' class. The extra stylings are below.
  margin: 0 0 40px 0;
  // Overriding Mura 7 CNS styles, as of December 2017
  background: #fff;
  border: 0px solid #fff;
  border: none;
  text-align: center; // Center aligns the image
  figcaption {
    // Stylized Image/Figure Captions
    margin: 0.5rem 0.625rem 0 1.75rem;
    font-size: 13.5px;
    text-align: left; // Left aligns the caption
    letter-spacing: 0.025rem;
    max-width: 40rem;
    padding-left: 0.93rem;
    line-height: 1.7;
    // Override PRL custom line-height and go back to default
    border-left: 1px solid $light-grey-text;
    color: $light-grey-text;
  }
  p {
    margin-bottom: 0px !important; // Sometimes Mura adds garbage <p> markup.
  }
}

@media (max-width: 767px) {
  // Mobile: smaller figure captions and tighter margins
  figure, figure.prl-figure, figure.cke_widget_element, .secondaryPageWrapper figure {
    img {
      // Removing default padding: 10px on images, while maintaining distance with figcaption.
      padding: 0px !important;
      margin-bottom: 10px;
    }
    figcaption {
      margin: 0.5rem 0 0 0.65rem;
      letter-spacing: 0;
      padding-left: 0.7rem;
      line-height: 1.3rem;
    }
  }
}

.prl-figure-container {
  // Jan 2020 update. New class for image component. Copy Bootstrap CSS classes
  text-align: center !important; // copies Bootstrap CSS .text-center class
  margin-left: auto !important; // copies Bootstrap CSS .mx-auto class
  margin-right: auto !important; // copies Bootstrap CSS .mx-auto class
  max-width: 100% !important; // copies Bootstrap CSS .mw-100 class
  display: block !important; // copies Bootstrap CSS .d-block class
}


/* --------------------------------------------------------
        CREDITS & BULLETPOINTS
-------------------------------------------------------- */

.prl-date-credits p {
  // Used for the Component called: "News - Publish Date/Credits" used at the top of news stories
  color: $light-grey-text;
  font-size: 0.875rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.025rem;
  margin-bottom: initial;
}

.prl-bulletpoint-fancy {
  // Adds a box and padding around some important bullets. Good for use in news stories.
  ul,
  ol {
    border: 1px solid #eaeaea;
    padding: 16px;
    margin-bottom: 32px;
  }
  li {
    margin: 24px;
  }
}

/* --------------------------------------------------------
        ALTERNATE HEADERS, SUBHEADERS, TEXT
-------------------------------------------------------- */

.prl-h2-alternate {
  // Used as homepage Brand area, News, and Event headers, Participating Faculty in the Research Pages, and Seminar "About the Speaker" Heading
  text-align: center;
  margin-bottom: 1.05rem;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 2.4rem;
  color: $primary-color;
}

.prl-h2-secondary-spacing {
  // Used to space out Heading 2 in internal pages, such as Seminar & Events, Graduate Program, and Research pages
  margin-top: 2rem; // Adds some distance above section titles
  display: inline-block;
}

.prl-p-subheader {
  // Used as homepage subheader in Brand Area, News, and Event headers and also on About page
  color: $med-grey-text;
  line-height: 1.7 !important;
  font-size: 1.275rem !important;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.prl-p-subheader-smaller {
  // Used as subheader for internal pages: Seminars & Events, Graduate Program Overview, Research Areas, etc.
  @extend .prl-p-subheader;
  line-height: 1.6 !important;
  font-size: 16.8px !important;
  margin-bottom: 10px;
}

.prl-narrow-container {
  // JANUARY 19, 2017; new class; Used as a div class for narrow text container, most prominently in news articles.
  max-width: 610px; // margin: 0 auto;
}

@media (max-width: 767px) {
  .prl-p-subheader {
    line-height: 1.6 !important;
  }
  .prl-p-subheader-smaller {
    line-height: 1.5 !important;
  }
}

/* -----------------------------------------------------------------------------------------------------
        LOGOS USED ON INTERNAL SECONDARY PAGES: ABOUT, GRADUATE PROGRAM, RESEARCH, etc.
----------------------------------------------------------------------------------------------------- */

.prl-internal-logo-svg {
  height: 45px;
  margin-bottom: 18px;
  display: inline; // override CNS svg styles
  width: auto;
}

.prl-internal-logo-content-area {
  // Margins above and below each of the five essences
  margin: 36px 0;
}

.prl-internal-logo-content-title {
  // Essence title - use as span element
  font-weight: 900;
  color: $x-dark-grey-text;
  display: block;
  margin-bottom: 12px;
}

.prl-internal-logo-content-description {
  // Essence descriptive text - use as span element
  font-weight: 300;
  color: $med-grey-text;
  font-size: 1rem;
  line-height: 1.6;
  display: block;
}

@media (max-width: 767px) {
  .prl-internal-logo-svg {
    height: 40px;
    margin-bottom: 15px;
  }
  .prl-internal-logo-content-area {
    margin: 25px 0 !important;
  }
}

/* -------------------------------------------------------------
       IMAGE SHADOW
------------------------------------------------------------- */

.prl-section-hero-image {
  // Adding box shadow to the hero image component on ABOUT page
  img {
    -webkit-box-shadow: $shadow-depth-6;
    box-shadow: $shadow-depth-6;
  }
}

// Image shadows extend $shadow-depth 7
$img-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
  0px 7px 10px 1px rgba(0, 0, 0, 0.14),
  0px 2px 16px 1px rgba(0, 0, 0, 0.12);

// Opacity effect when hovering over selected images
$img-hover-opacity: 0.8;

/* -------------------------------------------------------------
       ALTERNATE WELL
------------------------------------------------------------- */

.prl-well {
  min-height: 20px;
  padding: 19px !important;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  border-radius: $border-radius-material-design-card;
  color: $dark-grey-text;
  -webkit-box-shadow: $shadow-depth-1;
  box-shadow: $shadow-depth-1;
}

/* ---------------------------------------------------------------------------------
        CARD COMPONENTS - ALSO USED FOR ITEMS IN NEWS AND HOMEPAGE EVENTS
------------------------------------------------------------------------------------ */

// OUTLINE AND HOVER EFFECT
.prl-card-outline {
  // Card outline
  background: #fff;
  border-bottom: 0px transparent;
  border-radius: $border-radius-material-design-card;
  margin-bottom: 16px;
  -webkit-box-shadow: $shadow-depth-2;
  box-shadow: $shadow-depth-2;
  -webkit-transition: $tran-med;
  transition: $tran-med;
}

.prl-card-hover {
  // Hover effect
  -webkit-box-shadow: $shadow-depth-10;
  box-shadow: $shadow-depth-10;
}

// CONTENT AREA: Two parts to it: images and body
// IMAGES
.prl-card-image, .prl-card-image-only {
  // General image area, always on top portion of card, when included
  position: relative;
  .prl-card-image-overlay, .prl-card-image-no-summary-overlay {
    // To add title text on bottom of image
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white !important;
    font-weight: 400 !important;
    margin: 0;
    padding: 16px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // Styling for text elements
      color: white !important;
      font-weight: 400 !important;
      font-size: 1rem !important;
      margin: 0;
      padding-bottom: 0 !important;
      text-transform: initial;
    }
    p,
    ul,
    ol, {
      color: white !important;
      font-weight: 400 !important;
      margin: 0;
    }
  }
  .prl-card-image-no-summary-overlay {
    border-bottom-left-radius: $border-radius-material-design-card;
    border-bottom-right-radius: $border-radius-material-design-card;
  }
}

.prl-card-image-only {
  // For card that includes only image and title overlay, no summary
  border-bottom-left-radius: $border-radius-material-design-card;
  border-bottom-right-radius: $border-radius-material-design-card;
  img {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.prl-card-image-hover {
  // Hover effect for cards with images.
  -webkit-transition: $tran-half-sec;
  transition: $tran-half-sec;
  &:hover {
    opacity: $img-hover-opacity;
  }
}

// BODY
.prl-card-body {
  // To include below image and above call to action buttons
  padding: 16px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // Card title text
    text-transform: initial;
  }
}

// These following styles fall within the .prl-card-body
.prl-card-title {
  padding-bottom: 8px;
  margin-bottom: 0px;
  font-size: 1.125rem !important;
  line-height: 1.42857143;
  letter-spacing: -0.25px;
  font-weight: 600;
  a {
    text-decoration: none;
    border-bottom: none !important;
    color: $dark-grey-text !important;
    line-height: 1.2;
  }
}

.prl-card-date {
  padding-bottom: 16px;
  margin: 0;
  color: $light-grey-text;
  font-size: 14px;
  line-height: 1.2;
}

.prl-card-summary {
  font-size: 0.91rem !important;
  line-height: 1.5 !important;
  font-weight: 400;
  color: $light-grey-text;
  p,
  ul,
  ol {
    margin: 0; // Overrides CNS and PRL <p> margins in card
  }
}

.prl-card-readmore-btns {
  border-top: 1px solid $material-border-bottomORtop-color;
  padding: 4px;
  a,
  .prl-flat-btn {
    margin: 4px;
    display: inline-block !important;
  }
}

.prl-readmore-fill-container {
  // For use when the "Read More" Mura component is hidden and spans the entire container
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 100;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: none !important;
    // To account for new link styling
  }
}

/* -----------------------------------------------------------------------
        INLINE CARDS - CURRENTLY USED IN NEWS ARTICLES
-------------------------------------------------------------------------- */

.prl-relcontent-body {
  // A card including image and summary, for use in news articles for related content within body
  @extend .prl-card-outline;
  margin-top: 16px;
  padding-left: 0; // keeps images spanning full card
  padding-right: 0; // keeps images spanning full card
  position: relative;
  img {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border-bottom: 1px solid $material-border-bottomORtop-color;
    border-top-left-radius: $border-radius-material-design-card;
    border-top-right-radius: $border-radius-material-design-card;
  }
  p {
    @extend .prl-card-summary;
    margin-bottom: 0 !important; // Overrides CNS and PRL <p> margins in card
  }
  &:hover {
    @extend .prl-card-hover;
  }
}

.prl-relcontent-body-small {
  // A non-card that imitates the card function. Includes small image and linked title, with border top
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 16px 8px;
  padding: 16px 0;
  position: relative;
  border-top: 1px solid #eee;
  float: right;
  display: inline-block;
  width: 43%;
  img {
    padding: 0px !important;
    width: 100px;
    float: left;
    border-radius: $border-radius-material-design-card;
  }
  div.prl-relcontent-body-small-link {
    display: block;
    line-height: 1.43;
    margin-left: 112px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 14px !important;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 4px;
      color: $light-grey-text;
      font-weight: 600;
    }
    p, a {
      font-size: 14px !important;
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .prl-relcontent-body-small {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .prl-relcontent-body-small {
    width: 37%;
  }
}

.prl-card {
  // A card with Title and Text
  @extend .prl-card-outline;
  position: relative;
  img {
    padding: 0 !important;
    width: 100%;
    border-top-left-radius: $border-radius-material-design-card;
    border-top-right-radius: $border-radius-material-design-card;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .prl-card-title;
    margin-top: 0; // Overrides CNS header margin-tops
  }
  p {
    @extend .prl-card-summary;
    font-size: 0.95rem !important; // Larger than cards used in news and homepage
    line-height: 1.6 !important; // Larger than cards used in news and homepage
    margin-bottom: 0 !important; // Overrides CNS and PRL <p> margins in card
  }
  ul,
  ol {
    @extend .prl-card-summary;
    font-size: 0.95rem !important; // Larger than cards used in news and homepage
    line-height: 1.6 !important; // Larger than cards used in news and homepage
    margin-bottom: 0 !important; // Overrides CNS and PRL <p> margins in card
  }
}

.prl-card-w-border {
  // Same as .prl-card, but with bottom border
  @extend .prl-card;
  border-bottom: $primary-color 5px solid;
}

.prl-card-hover-effect {
  // Title over image
  @extend .prl-card;
  &:hover {
    @extend .prl-card-hover;
  }
}

/* --------------------------------------------------------
        ASIDE/RELATED CONTENT STYLING FOR NEWS SECTION
-------------------------------------------------------- */

.prl-aside-relcontent-container {
  padding: 19px 16px; // This padding makes it line up with the Top Stories aside on Tablet and down
  display: inline-block;
  background: none;
  border-top: 8px solid $primary-color;
}

.prl-aside-relcontent-header {
  font-weight: 300;
  font-size: 26px;
}

.prl-aside-relcontent-img {
  position: relative;
  float: left;
  display: block;
  margin-right: 0.625rem;
  -webkit-transition: $tran-half-sec;
  transition: $tran-half-sec;
  &:hover {
    opacity: $img-hover-opacity;
  }
}

.prl-aside-relcontent-title {
  font-size: 0.97rem;
  line-height: 1.4;
}

.prl-aside-relcontent-summary {
  font-size: 0.92rem;
  line-height: 1.4;
  font-weight: 400;
  color: $dark-grey-text;
}


/* -------------------------------------------------------------------
        LEGACY FIXES - JANUARY 2020
-------------------------------------------------------------------- */

/* GRID
-------------------------------------------------------- */
// CNS removed Bootstrap CSS in January 2020. 'prl-row' emulates the main .row class from Bootstrap CSS

.prl-row {
  // Copied from Bootstrap .row class
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


/* TABLE
-------------------------------------------------------------------- */
// CNS removed Bootstrap CSS in January 2020. The styles below are copied from Bootstrap CSS

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.secondaryPageWrapper table {
  border: 0!important;
  width: 100%!important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,.075);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: 1px solid #ddd;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td {
  border: 1px solid #ccc;
}