body {
  font-family: Arial, sans-serif;
}

img {
  position: relative; 
  display: block;
  height: 500px;
  width: 100%;
}

article.body-content p {
  margin-bottom: 40vh;
}

.prl-back-to-top-btn {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background: #804540;
  font-size: 2rem;  
  border-radius: 100%;
  z-index: 10000; 
  text-decoration: none;
  color: white;
  padding: 8px 13px 0px 13px;
  transition-duration: 0.35s;
}

.prl-back-to-top-btn-hide {
  opacity: 0;
}

.prl-back-to-top-btn-show {
  opacity: 1;
}