body {
  height: 150vh;
  font-family: Arial, sans-serif;
}

img {
  position: relative; 
  display: block;
  height: 500px;
  width: 100%;
}

article.body-content p {
  margin-bottom: 40vh;
}

aside#prl-sticky-nav {
  // Main sticky menu container
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  transition: 0.3s opacity;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

aside#prl-sticky-nav.aside-hidden {
  // Aside hidden
  pointer-events: none;
  opacity: 0;
}

aside#prl-sticky-nav.aside-visible {
  // Aside visible 
  opacity: 1;
}


aside#prl-sticky-nav {
  //Styling items inside main container
  .prl-sticky-nav-inner {
    // Inner container
    position: relative;
    background: rgba(46,77,77, 0.975); // PRL green
    overflow: hidden;
    transition: width .3s;
    width: 42.5px;
    z-index: 99;
    will-change: width;
    
    &:hover, {
      width: 225px;
      
      li .text {
        opacity:1;
      }
    }
  }

  .prl-sticky-nav-inner-focused {
    width: 225px;
  }

  a, .prl-sticky-nav-title {
    //Menu title
    color: white;
    transition: color .2s;
    text-decoration: none;
  }
  
  .prl-sticky-nav-title {
    font-size: 10px;
    padding-top: 10px;
    padding-right: 9.5px;
    text-align: right;
  }

  ul {
    // Menu ordered list
    float: right;
    width: 225px;
    height: auto;
    margin: 0;
    padding: 10px 16.5px 10px 10px;
    list-style: none;
  }

  li {
    text-align: right;
    line-height: 30px;
    
    &:hover {
      a {
        color: #c4a43b; //Lighter version of secondary PRL color      
      }
      
      span {
        background: #c4a43b; // Lighter version of secondary PRL color
      }
    }
  }

  .li-focused {
    // Class added through JS on focus in
    a {
      color: #c4a43b; //Lighter version of secondary PRL color      
    }
    span {
      background: #c4a43b; // Lighter version of secondary PRL color
    }   
    .text {
      opacity: 1;
    }
  }
    
  .text {
    display: inline-block;
    transition: opacity .2s;
    margin-right: 20px;
  }

  span {
    // Bullet points
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    transition: background .2s;
  }

  //Aside Helper text 

  .aside-helper {
    position: absolute;
    font-size: 12px;
    bottom: 14px;
    width: 150px;
    padding: 6px;
    color: white;
    right: 56px;
    opacity: 0;
    background: rgba(46,77,77, 1); // PRL green
    animation-duration: 4s;
    animation-timing-function: ease-in-out ;
    animation-fill-mode: forwards;
  
    &:after {
      content: "\25BA";
      color: rgba(46,77,77, 1); // PRL green
      position: absolute;
      right: -13px;
      font-size: 16px;
    }
  }
  
  .aside-appear {
    animation-name: aside-helper-disappear; // Done through JS
  }
  
  @keyframes aside-helper-disappear {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  aside#prl-sticky-nav.aside-visible, aside#prl-sticky-nav {
    visibility: hidden;
  }
}
