body {
  height: 150vh;
  font-family: Arial, sans-serif; }

img {
  position: relative;
  display: block;
  height: 500px;
  width: 100%; }

article.body-content p {
  margin-bottom: 40vh; }

aside#prl-sticky-nav {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 0; }

aside#prl-sticky-nav.aside-hidden {
  pointer-events: none;
  opacity: 0; }

aside#prl-sticky-nav.aside-visible {
  opacity: 1; }

aside#prl-sticky-nav .prl-sticky-nav-inner {
  position: relative;
  background: rgba(46, 77, 77, 0.975);
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
  width: 42.5px;
  z-index: 99;
  will-change: width; }
  aside#prl-sticky-nav .prl-sticky-nav-inner:hover {
    width: 225px; }
    aside#prl-sticky-nav .prl-sticky-nav-inner:hover li .text {
      opacity: 1; }

aside#prl-sticky-nav .prl-sticky-nav-inner-focused {
  width: 225px; }

aside#prl-sticky-nav a, aside#prl-sticky-nav .prl-sticky-nav-title {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s; }

aside#prl-sticky-nav .prl-sticky-nav-title {
  font-size: 10px;
  padding-top: 10px;
  padding-right: 9.5px;
  text-align: right; }

aside#prl-sticky-nav ul {
  float: right;
  width: 225px;
  height: auto;
  margin: 0;
  padding: 10px 16.5px 10px 10px;
  list-style: none; }

aside#prl-sticky-nav li {
  text-align: right;
  line-height: 30px; }
  aside#prl-sticky-nav li:hover a {
    color: #c4a43b; }
  aside#prl-sticky-nav li:hover span {
    background: #c4a43b; }

aside#prl-sticky-nav .li-focused a {
  color: #c4a43b; }

aside#prl-sticky-nav .li-focused span {
  background: #c4a43b; }

aside#prl-sticky-nav .li-focused .text {
  opacity: 1; }

aside#prl-sticky-nav .text {
  display: inline-block;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin-right: 20px; }

aside#prl-sticky-nav span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  -webkit-transition: background .2s;
  transition: background .2s; }

aside#prl-sticky-nav .aside-helper {
  position: absolute;
  font-size: 12px;
  bottom: 14px;
  width: 150px;
  padding: 6px;
  color: white;
  right: 56px;
  opacity: 0;
  background: #2e4d4d;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  aside#prl-sticky-nav .aside-helper:after {
    content: "\25BA";
    color: #2e4d4d;
    position: absolute;
    right: -13px;
    font-size: 16px; }

aside#prl-sticky-nav .aside-appear {
  -webkit-animation-name: aside-helper-disappear;
          animation-name: aside-helper-disappear; }

@-webkit-keyframes aside-helper-disappear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes aside-helper-disappear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media screen and (max-width: 768px) {
  aside#prl-sticky-nav.aside-visible, aside#prl-sticky-nav {
    visibility: hidden; } }
