body {
  height: 150vh;
  font-family: Arial, sans-serif; }

article.body-content p {
  margin-bottom: 40vh; }

aside {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px; }

.prl-sticky-nav-inner {
  position: relative;
  background: rgba(46, 77, 77, 0.975);
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
  width: 42.5px;
  z-index: 99;
  will-change: width; }
  .prl-sticky-nav-inner:hover {
    width: 225px; }
    .prl-sticky-nav-inner:hover li .text {
      opacity: 1; }

ul {
  float: right;
  width: 225px;
  height: auto;
  margin: 0;
  padding: 10px 16.5px 10px 10px;
  list-style: none; }

li {
  text-align: right;
  line-height: 30px; }
  li:hover a {
    color: #c4a43b; }
  li:hover span {
    background: #c4a43b; }

aside a, aside .prl-sticky-nav-title {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s; }

.prl-sticky-nav-title {
  font-size: 10px;
  padding-top: 10px;
  padding-right: 9.5px;
  text-align: right; }

.text {
  display: inline-block;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin-right: 20px;
  opacity: 0; }

span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  -webkit-transition: background .2s;
  transition: background .2s; }

.aside-helper {
  position: absolute;
  font-size: 12px;
  bottom: 14px;
  width: 150px;
  padding: 6px;
  color: white;
  right: 56px;
  background: #2e4d4d;
  -webkit-animation-name: aside-helper-disappear;
          animation-name: aside-helper-disappear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .aside-helper:after {
    content: "\25BA";
    color: #2e4d4d;
    position: absolute;
    right: -13px;
    font-size: 16px; }

@-webkit-keyframes aside-helper-disappear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes aside-helper-disappear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }
